<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<%= render 'full_result' %>
<p><%= t("test_passages.result.#{result(@test_passage.is_passed?)[:message]}") %></p>

<%= link_to t('links.main'), tests_path %>
