<div>
  <p>
    <%= current_year %><br>
    created by <%=link_to '@yerlanmad', github_url('yerlanmad'), target: '_blank' %><br>
    <%= link_to 'Test Guru', github_url('yerlanmad', 'test-guru'), target: '_blank' %><br>
    Beautiful solition for online testing<br>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: '_blank' %>
  </p>
</div>